<a href="https://colab.research.google.com/github/Armanskij/EBAC_Studies/blob/main/Profissao_Analista_de_dados_M40_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Big Data I - Processamento
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)<br>
Elaborado por [Douglas Rizzi](https://www.linkedin.com/in/douglas-rizzi/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução;</li>
  <li>Apache Spark;</li>
  <li>Data Wrangling com Spark.</li>
</ol>

---

# **Exercícios**

## 1\. Apache Spark

Replique as atividades do item 2.1 e 2.2 para instalar e configurar um cluster Apache Spark na máquina virtual do Google Colab.

### 1.1. Instalação

- Download e instalação do Spar, versão 3.5.1.

In [1]:
%%capture
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz && rm spark-3.0.0-bin-hadoop2.7.tgz

- Download e instalação do Java, versão 8.

In [2]:
%%capture
!apt-get remove openjdk*
!apt-get update --fix-missing
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

- Instalação da biblioteca PySpark.

In [3]:
!pip install -q pyspark==3.0.0

### 1.2. Configuração

- Criando variável para conexão Nodes/Spark e Java/PySpark.

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

- Instalando o FindSpark para conectar PySpark(Python) ao Spark e ao Java.

In [5]:
! pip install -q findspark==2.0.1

In [6]:
import findspark
findspark.init()

### 1.3. Conexão

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("pyspark-notebook").getOrCreate()

## 2\. Data Wrangling

A base de dados presente neste [link](https://www.kaggle.com/datasets/bank-of-england/a-millennium-of-macroeconomic-data) contem dados macroeconômicos sobre o Reino Unido desde o século 13.

**2.1\. Data**

Faça o download dos dados utilizando a máquina virutal do Google Colab com o código abaixo.

In [8]:
!wget -q "https://raw.githubusercontent.com/cluster-apps-on-docker/spark-standalone-cluster-on-docker/master/build/workspace/data/uk-macroeconomic-data.csv" -O "uk-macroeconomic-data.csv"

In [9]:
data = spark.read.csv("uk-macroeconomic-data.csv", header=True, inferSchema=True)

In [21]:
data.show(10)

+-----+----------+-----------------+
| year|population|unemployment_rate|
+-----+----------+-----------------+
|Units|      000s|                %|
| 1209|      null|             null|
| 1210|      null|             null|
| 1211|      null|             null|
| 1212|      null|             null|
| 1213|      null|             null|
| 1214|      null|             null|
| 1215|      null|             null|
| 1216|      null|             null|
| 1217|      null|             null|
+-----+----------+-----------------+
only showing top 10 rows

In [11]:
data.printSchema()

root
 |-- Description: string (nullable = true)
 |-- Real GDP of England at market prices: string (nullable = true)
 |-- Real GDP of England at factor cost : string (nullable = true)
 |-- Real UK GDP at market prices, geographically-consistent estimate based on post-1922 borders: string (nullable = true)
 |-- Real UK GDP at factor cost, geographically-consistent estimate based on post-1922 borders: string (nullable = true)
 |-- Index of real UK GDP at factor cost - based on changing political boundaries, : string (nullable = true)
 |-- Composite estimate of English and (geographically-consistent) UK real GDP at factor cost: string (nullable = true)
 |-- HP-filter of log of real composite estimate of English and UK real GDP at factor cost: string (nullable = true)
 |-- Real UK gross disposable national income at market prices, constant border estimate: string (nullable = true)
 |-- Real consumption: string (nullable = true)
 |-- Real investment: string (nullable = true)
 |-- Stockbuilding contribution: string (nullable = true)
 |-- Real government consumption of goods and services: string (nullable = true)
 |-- Export volumes: string (nullable = true)
 |-- Import volumes: string (nullable = true)
 |-- Nominal GDP of England at market prices: string (nullable = true)
 |-- Nominal UK GDP at market prices: string (nullable = true)
 |-- Nominal UK GDP at market prices.1: string (nullable = true)
 |-- Population (GB+NI): string (nullable = true)
 |-- Population (England): string (nullable = true)
 |-- Employment: string (nullable = true)
 |-- Unemployment rate: string (nullable = true)
 |-- Average weekly hours worked: string (nullable = true)
 |-- Capital Services, whole economy: string (nullable = true)
 |-- TFP growth: string (nullable = true)
 |-- Labour productivity: string (nullable = true)
 |-- Labour productivity.1: string (nullable = true)
 |-- Labour share, whole economy excluding rents: string (nullable = true)
 |-- GDP deflator at market prices: string (nullable = true)
 |-- Export prices: string (nullable = true)
 |-- Import prices: string (nullable = true)
 |-- Terms of Trade: string (nullable = true)
 |-- $ Oil prices: string (nullable = true)
 |-- Earnings per head: string (nullable = true)
 |-- Consumer price index: string (nullable = true)
 |-- Consumer price inflation: string (nullable = true)
 |-- Real consumption wages: string (nullable = true)
 |-- Wholesale/producer price index: string (nullable = true)
 |-- Bank Rate: string (nullable = true)
 |-- Bank Rate.1: string (nullable = true)
 |-- 10 year/medium-term government bond yields: string (nullable = true)
 |-- Consols / long-term government bond yields: string (nullable = true)
 |-- Mortgage rates: string (nullable = true)
 |-- Corporate borrowing rate from banks: string (nullable = true)
 |-- Corporate bond yields: string (nullable = true)
 |-- Share prices: string (nullable = true)
 |-- $/£ exchange rate: string (nullable = true)
 |-- Real $/£ exchange rate: string (nullable = true)
 |-- Nominal ERI: string (nullable = true)
 |-- Real ERI: string (nullable = true)
 |-- House price index: string (nullable = true)
 |-- Credit : string (nullable = true)
 |-- Secured credit: string (nullable = true)
 |-- Bank of England Balance sheet: string (nullable = true)
 |-- Bank of England Balance sheet.1: string (nullable = true)
 |-- Coin in circulation outside the Bank of England: string (nullable = true)
 |-- Notes and coin in circulation: string (nullable = true)
 |-- Monetary base: string (nullable = true)
 |-- M1: string (nullable = true)
 |-- Broad Money : string (nullable = true)
 |-- Public sector Total Managed Expenditure: string (nullable = true)
 |-- Public sector Total Managed Expenditure.1: string (nullable = true)
 |-- Public Sector Total Receipts: string (nullable = true)
 |-- Public Sector Total Receipts.1: string (nullable = true)
 |-- Public Sector Net Lending(+)/Borrowing(-): string (nullable = true)
 |-- Public Sector Net Lending(+)/Borrowing(-).1: string (nullable = true)
 |-- UK Public sector debt: string (nullable = true)
 |-- UK Public sector debt.1: string (nullable = true)
 |-- UK Public sector debt.2: string (nullable = true)
 |-- Central Government Gross Debt: string (nullable = true)
 |-- Central Government Gross Debt.1: string (nullable = true)
 |-- Trade deficit: string (nullable = true)
 |-- Trade deficit.1: string (nullable = true)
 |-- Current account : string (nullable = true)
 |-- Current account .1: string (nullable = true)
 |-- Current account deficit including estimated non-monetary bullion flows: string (nullable = true)
 |-- Current account deficit including estimated non-monetary bullion flows.1: string (nullable = true)

**2.2. Wrangling**

Processe os dados para que a base de dados final apresente os valores da taxa de desemprego (`Unemployment rate`) e população (`Population (GB+NI)`) estejam ordenados por ano decrescente:

```csv
year,population,unemployment_rate
...,...,...
```

Para isso, utilize:

 - Pandas

 - PySpark

In [12]:
data = data.select(["Description", "Population (GB+NI)", "Unemployment rate"])

In [13]:
data = data.\
  withColumnRenamed("Description", 'year').\
  withColumnRenamed("Population (GB+NI)", "population").\
  withColumnRenamed("Unemployment rate", "unemployment_rate")

In [14]:
data.show(n=10)

+-----+----------+-----------------+
| year|population|unemployment_rate|
+-----+----------+-----------------+
|Units|      000s|                %|
| 1209|      null|             null|
| 1210|      null|             null|
| 1211|      null|             null|
| 1212|      null|             null|
| 1213|      null|             null|
| 1214|      null|             null|
| 1215|      null|             null|
| 1216|      null|             null|
| 1217|      null|             null|
+-----+----------+-----------------+
only showing top 10 rows

Como a primeira linha está com as unidades de medida das colunas, vamos criar um nova coluna com o index, e à partir dela vamos excluir a primeira linha usando `collect`.

In [15]:
# biblioteca para criar o index
from pyspark.sql.functions import monotonically_increasing_id

In [16]:
# criando um df com index
data_indexed = data.withColumn("id", monotonically_increasing_id())

In [17]:
# encontrando o indice da primeira linha
primeira_linha = data_indexed.agg({"id": "min"}).collect()[0][0]

In [18]:
# filtrando o df para retirar a primeira linha, e remover coluna id
data_limpa = data_indexed.filter(data_indexed.id > primeira_linha).drop("id")

In [19]:
data_limpa.show()

+----+----------+-----------------+
|year|population|unemployment_rate|
+----+----------+-----------------+
|1209|      null|             null|
|1210|      null|             null|
|1211|      null|             null|
|1212|      null|             null|
|1213|      null|             null|
|1214|      null|             null|
|1215|      null|             null|
|1216|      null|             null|
|1217|      null|             null|
|1218|      null|             null|
|1219|      null|             null|
|1220|      null|             null|
|1221|      null|             null|
|1222|      null|             null|
|1223|      null|             null|
|1224|      null|             null|
|1225|      null|             null|
|1226|      null|             null|
|1227|      null|             null|
|1228|      null|             null|
+----+----------+-----------------+
only showing top 20 rows

In [20]:
print(data_limpa)

DataFrame[year: string, population: string, unemployment_rate: string]